
@model IEnumerable<Product>

    <section>
        <header>
        <h3>Produktoversikt</h3>
        </header>



        <section class="card-container">
            @{
                foreach (Product product in Model)
                {
                   

                    var numberofComments = product.Comments.Count();
                    if(numberofComments !=0){
                        <div class="product-content">
                <article>
                    <h4>@product.Title</h4>
                     <img class="img-product"src="~/images/@product.ImageSrc"/>
                    <p>Produkt kommentarer:</p>
                     @foreach(Comment comment in product.Comments){
                        <p class="product-comment">@comment.UserName : @comment.Text</p>
                    }
                     
                </article>
                </div>

                    }
                    
                    
                
                }
            }
        </section>
    </section>
