@model ColorChoice

<form asp-action="SetColor">

    <label for="Color">Sett farge ved å skrive den engelske fargen</label>
    <input asp-for="Color" type="text">

    <input type="submit" value="Lagre farge">

</form>