
@model IEnumerable<Product>

    <section>
        <header>
        <h3>Produkt oversikt</h3>
        </header>



        <section class="card-container">
            @{
                foreach (var product in Model)
                {
                    <div class="product-content">
                <article>
                    <h4>@product.Title</h4>
                     <img class="img-product"src="~/images/@product.ImageSrc"/>
                    <p>@product.Desc</p>
                    <p>Pris i NOK: @product.Price</p>
                </article>
                </div>
    
        
                }
            }
        </section>
    </section>
