<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Customer Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/main.css">

</head>
<body>
    <header id="header-content">
        <a asp-action="AllProducts" asp-route-admin="true">Admin Page</a>
            <a asp-action="AllProducts" asp-route-admin="false">Customer Page</a>
            
        </header>
    <div id="main-page-container">

        <nav id="main-page-navigation">
            <ol>                
                <li><a asp-controller="Customer" asp-action="AllComments">Alle produktkommentarer</a></li>
            </ol>
        </nav>
    

        <main>
            @RenderBody()
        </main>

        <footer id="main-page-footer">

        </footer>

    </div><!-- end main-page-container -->

</body>
</html>