<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Customer Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/main.css">

</head>
<body>
    <header id="header-content">
        <nav>
            <ul> 
                <li><a asp-controller="Admin"asp-action="AllProducts">Admin Page</a></li>
                <li><a asp-controller="Customer" asp-action="ShowAllProducts">Customer Page</a></li>
             </ul>
        </nav>

             @{
                string color = Context.Session.GetString("Color");

                if(color != ""){
                    <style>
                        a{
                            color: @color;
                        }
                    </style>
                }
            }
            
        </header>
    <div id="main-page-container">

        <nav id="main-page-navigation">
           <a asp-controller="Customer" asp-action="AllComments">Alle produktkommentarer</a>
            <a asp-controller="Customer" asp-action="SetColor">Endre fargetema</a>
           
        </nav>
    

        <main>
            @RenderBody()
        </main>

        <footer id="main-page-footer">

        </footer>

    </div><!-- end main-page-container -->

</body>
</html>