.card-container {
    display: flex;
    text-align: center;
}

.product-content article {
    padding: 1rem;
    background-color: lightgrey;
    border-radius: 1rem;
    margin: 10px;
}

.product-content article:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.24), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 1rem;
}

#page-navigation {
    display: flex;
}

.validation-error {
    color: red;
    font-style: italic;
}

#main-page-container img {
    height: 100px;
    width: 130px;
}

#main-page-container {
    justify-content: space-between;
    text-align: center;
}