@model Product

<section>
        <header>
        <h3>Opprett et nytt produkt</h3>
        </header>

        <section>
            <form asp-action="CreateProduct">
                <label asp-for="Title">Title på produktet
                <input asp-for="Title" type="text">
                </label>
                <span asp-validation-for="Title" class="validation-error"></span>

                <label>Bilde</label>
                    <select asp-for="ImageSrc" type="text" >
                        <option value="akevitt.jpg">Akevitt</option>
                        <option value="kaviar.jpg">Kaviar</option>
                        <option value="laks.jpg">Laks</option>
                        <option value="rakfisk.jpg">Rakfisk</option>
                        <option value="sild.jpg">Sild</option>
                        <option value="surstrømming.jpg">Surstrømming</option>
                    </select>
                 

                 <label asp-for="Desc">Beskrivelse på produktet
                <input asp-for="Desc" type="text">
                </label>
                
                <label asp-for="Price">Pris
                 <input asp-for="Price" type="text">
                 </label>
                     <span asp-validation-for="Price" class="validation-error"></span>

                 
    
    

                 <input type="submit" value="Opprett produkt">
            </form>
        </section>
    </section>