@model Product

<section>
        <header>
        <h3>Slett Produkt</h3>
        </header>

    <div class="product-content">
        <section>
            <h4> @Html.DisplayFor(product => product.Title)</h4>
            <img src="~/images/@Html.DisplayFor(product => product.ImageSrc)">
            <p>@Html.DisplayFor(product => product.Desc)</p>
            <p>Pris: @Html.DisplayFor(product => product.Price)</p>

            <form asp-action="DeleteProduct">
                <input asp-for="Id" type="hidden">
                 <input type="submit" value="Slett produkt">
            </form>
        </section>
        </div>
    </section>